body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.outlined-helperText{
  font-size: 22px;
  color:#fff;
}
#inputLbel{
  font-size: 16px !important;
}
.MuiOutlinedInput-multiline,.MuiOutlinedInput-input{
font-size: 16px !important;
}
.MuiButton-label {
  font-size: 18px !important;
}